.legend {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: center;
  margin-left: 4.5rem;
}

.legend__item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.legend__dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5rem;
}
