@use "@/styles/common" as *;

.prefectures {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include bp(sm) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include bp(md) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @include bp(lg) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @include bp(xl) {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}

.prefectures__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $muted-foreground;
}

.prefectures__title {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  scroll-margin: 5rem;
}
